.TaskListPage {
  width: 100%;
  height: 100%;
}

.Calendar {
  padding: 20px 0px 0px 0px;
  margin: 0px auto;
  width: 100%;
}

.Tasks {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
}

.TaskSection:not(:last-child) {
  margin-bottom: 10px;
}

.TaskCourseName {
  font-size: 20px;
  margin-bottom: 10px;
}

.TaskContainer {
  width: 100%;
}

.TaskContainer:not(:last-child) {
  margin-bottom: 10px;
}