.TaskList {
  width: 100%;
  height: 100%;
}

.Tasks {
  width: 100%;
  margin-top: 10px;
}

.TaskContainer {
  width: 100%;
  padding: 10px;
}

.TaskContainer:not(:last-child) {
  margin-bottom: 10px;
}

.TaskCourseName {
  font-size: 20px;
  margin-bottom: 5px;
}