.CoursePage {
  width: 100%;
  height: 100%;
  padding: 5px;
}

.CourseHeader {
  width: 100%;
  padding: 30px 20px;
  background-color: var(--color);
  font-size: 24px;
  color: #fff;
  border-radius: 15px;
}

.Tasks {
  width: 100%;
  margin-top: 10px;
}

.TaskContainer {
  width: 100%;
  padding: 5px 0px;
}