.CoursePage {
  width: 100%;
  height: 100%;
  padding: 5px;
}

.CourseHeader {
  width: 100%;
  padding: 30px 20px;
  background-color: var(--color);
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.CourseName {
  font-size: 24px;
  color: #fff;
}

.CourseSettings {
  display: block;
  padding: 0 5px;
  color: #fff;
  transform: scale(1.5);
}

.Tasks {
  width: 100%;
  margin-top: 10px;
}

.TaskContainer {
  width: 100%;
  padding: 5px 0px;
}

.NewTask {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px 5px 5px 5px;
  background-color: #fff;
}