.CourseSettingsPage {
  width: 100%;
  height: 100%;
  padding: 5px;
}

.CourseHeader {
  width: 100%;
  padding: 30px 20px;
  background-color: var(--color);
  border-radius: 15px;
  font-size: 24px;
  color: #fff;
}

.CourseActions {
  width: 100%;
  margin-top: 20px;
}

.DangerActions {
  margin-top: 40px;
}

.DangerActionsTitle {
  font-size: 24px;
  margin-bottom: 5px;
  color: red;
  font-weight: 600;
}