.TaskFactory {
  width: 100%;
  margin-top: 20px;
}

.Label {
  font-size: 16px;
  margin-bottom: 3px;
  display: block;
}

.TaskName {
  margin-bottom: 20px;
}

.TaskDeadline {
  margin-bottom: 20px;
}

.TaskNameInput, 
.TaskDeadlineInput,
.TaskButton {
  width: 100%;
  display: block;
  padding: 10px;
  border-radius: 15px;
  background-color: #fff;
  outline: none;
}

.TaskNameInput {
  border: 1px solid #333;
}

.TaskDeadlineInput {
  border: 1px solid #333;
}

.TaskButton {
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  height: 100%;
  background-color: var(--color);
  color: #fff;
  border: none;
}

.TaskButton:active {
  background-color: #ccc;
}